* {
    box-sizing: border-box;
}

.page_header_text {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 45px; 
    text-shadow: 0 5px #000000;
}

.page_header {
    
    margin-top: 100px;
    width: 50%;
    align-self: center;
    padding: 0 1px;
}

@media (max-width: 767px) {
    .page_header_text {
        font-size: 35px;
        line-height: 1.3em;
        text-shadow: 0 3.5px #000000;
    }
    .page_header {
        width: 100%;
        padding: 0 20px
    }
}