@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import './components/timeline.css';
@import './pages/pages.css';
@import './navbar.css';
@import './mainmint.css';


.App {
    text-align: center;
    font-family: "Press Start 2P", "VT323";
    color: black;
    overflow: scroll;
    opacity: 0.93;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}


* {
    box-sizing: border-box;
}

 body {
    overflow: hidden;
}

.moving-background-one {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/rdgmZTo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 40%;
}


@media (max-width: 400px), (orientation: landscape) {
    .mint_fullsection{
        position: relative;
        top: 100px;
    }
}
