@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');


.App {
    text-align: center;
    font-family: "Press Start 2P", "VT323";
    color: black;
    
}

/** {
    box-sizing: border-box;
}*/

 body {
    overflow: hidden;
}

.overlay {
    overflow: scroll;
    opacity: 0.86;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.moving-background-one {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/rdgmZTo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 40%;
}

.moving-background-two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/pixel-art-8036729.gif");
    background-size: cover;
    background-position: 40% 37%;
    
}

.moving-background-three {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/215462.gif");
    background-size: cover;
    background-position: 40% 40%;
}

.moving-background-four {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/211748.gif");
    background-size: cover;
    background-position: 40% 70%;
}

.btn_connect {
    background-color:#ffdb72;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    color:black;
    cursor: pointer;
    font-family: inherit;
    padding:10px 25px;
    margin:0 15px;
}

.cntd {
    margin: 0 15px;
    border-style: dashed;
    border-width: 3px;
    padding: 5px;
    background-color:#fce5cd;
    border-radius:5px;
}

.btn_install {
    background-color:#ffdb72;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    color:black;
    cursor: pointer;
    font-family: inherit;
    padding:10px 25px;
    margin:0 15px;
}

.btn_plus_minus {
    background-color:#ffb898;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0f0f0f;
    color: black;
    cursor: pointer;
    font-family: inherit;
    padding: 15px;
    margin-top: 10px;
}

.btn_mint {
    background-color: #fce5cd;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0f0f0f;
    color: black;
    cursor: pointer;
    font-family: inherit;
    padding: 15px;
    margin-top: 10px; 
}

.trollpunks {
    position: relative;
    bottom: 20px;
    font-size:45px; 
    text-shadow:0 5px #000000;
}

.input_mint {
    font-family: inherit;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
}

.btn_back_1 {
    position: absolute;
    
    right: 0px;
    background-color:#ffdb72;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    color:black;
    cursor: pointer;
    font-family: "VT323";
    font-size: 25px;
    padding:10px 20px;
    margin:0 15px;
}

@media (max-width: 920px) {
    .btn_connect {
        position: relative;
        top:70px;
        right: 450px;
        background-color:#ffdb72;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 1px #0F0F0F;
        color:black;
        cursor: pointer;
        font-family: inherit;
        padding:10px 12px;
        margin:0 15px;
    }
    .btn_install {
        position: relative;
        top:70px;
        right: 450px;
        background-color:#ffdb72;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 1px #0F0F0F;
        color:black;
        cursor: pointer;
        font-family: inherit;
        padding:10px 12px;
        margin:0 15px;
    }
    .cntd {
        position: relative;
        top:70px;
        right: 450px;
        margin: 0 15px;
        border-style: dashed;
        border-width: 3px;
        padding: 5px;
        background-color:#fce5cd;
        border-radius:5px;
    }
    
}

@media (max-width: 500px) {
    .btn_connect {
        position: relative;
        top:130px;
        right:540px;
        background-color:#ffdb72;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 1px #0F0F0F;
        color:black;
        cursor: pointer;
        font-family: inherit;
        padding:10px 15px;
        margin:0 15px;
    }
    .btn_install {
        position: relative;
        top:130px;
        right:540px;
        background-color:#ffdb72;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 1px #0F0F0F;
        color:black;
        cursor: pointer;
        font-family: inherit;
        padding:10px 15px;
        margin:0 15px;
    }
    .cntd {
        position: relative;
        top:140px;
        right:537px;
    }
    .menu {
        position: relative ;
        top: -50px;
        right: 300px;
    }
    .socialmedia {
        position: relative;
        top: 25px;
        left: 22px;
    }
}