
.citypunks {
    font-size: 50px; 
    text-shadow: 0 5px #000000;
}

.description_text {
    font-size: 30px;
    letter-spacing: -5.5%;
    font-family: "VT323";
    text-shadow: 0 2px 2px #000000;
    padding: 0 30px;
    margin: 30px 0;
}

@media (min-width: 450px) {
    .for_mobile {
        display: none !important;
    }
}
@media (max-width: 300px) {
    .for_mobile {
        margin-top: 30px !important;
    }
    .main_content {
        margin-top: 50px;
    }
}

@media (max-width: 1236px) {
    .for_mobile {
        display: flex !important;
    }
}