
.menu {
    size: 32px 64px;
    margin: 0 15px; 
    cursor: pointer; 
}

.btn_hambrg {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 1px #0F0F0F;
    width: 40px;
    height: 40px;
    background-color:#fce5cd;
    margin: 3% 7%;
    font-size: 25px;
}

.mobile_nav {
    background-color: #FAD5A5;
    width: 100%;
    height: 425px;
    box-align: center;
    position: fixed;
    z-index: 101;
    flex-direction: column;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition:1s;
    animation:down 0.5s cubic-bezier(0.26, 0.09, 0, 1.01);
}

@keyframes down {
    from {height: 0%;}
    to {height: 360px;}
}

.nav_mobile_container {
    padding: 15px; 
    border-top: dashed;
    border-width: 3px;
    
}

@media (min-width: 551px) {
    .btn_hambrg {
        display: none !important;
    }
    .mobile_nav {
        display: none !important;
    }
    
}

@media (max-width: 550px) {
    .nav {
        display: none !important;
    } 
}

@media (max-width: 1236px) {
    .metamask_btn {
        display: none !important;
    }
}